section.sign-up {
  margin-top: 30px; margin-bottom: 30px; }
  @media (min-width: 992px) {section.sign-up {margin-top: 90px; margin-bottom: 90px; } }
  section.sign-up .row div {margin:auto;}
  section.sign-up .inner-content {
    padding: 30px;
    box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.1);
    background-color: #ffffff;
    border-radius: 15px; }
    section.sign-up .inner-content .block-heading h4 {
      border-bottom: 1px solid #eeeeee;
      margin-bottom: 25px;
      padding-bottom: 20px; }
    section.sign-up .inner-content input[type='text'], section.sign-up .inner-content input[type='password'] {
      width: 100%;
      height: 48px;
      border-radius: 24px;
      background-color: #f0f6ff;
      border: none;
      color: #36334c;
      padding: 0px 20px;
      font-family: "Poppins", Arial, Helvetica, sans-serif;
      font-size: 14px;
      outline: none;
      margin-bottom: 30px; }
      section.sign-up .inner-content input[type='text'], section.sign-up .inner-content input[type='password']::-webkit-input-placeholder {
        color: #adb9cc; }
      section.sign-up .inner-content input[type='text'], section.sign-up .inner-content input[type='password']::-moz-placeholder {
        color: #adb9cc; }
      section.sign-up .inner-content input[type='text'], section.sign-up .inner-content input[type='password']:-ms-input-placeholder {
        color: #adb9cc; }
      section.sign-up .inner-content input[type='text'], section.sign-up .inner-content input[type='password']::-ms-input-placeholder {
        color: #adb9cc; }
      section.sign-up .inner-content input[type='text'], section.sign-up .inner-content input[type='password']::placeholder {
        color: #adb9cc; }
    
	section.sign-up .inner-content input[type='checkbox']{
	display:inline-block;
	margin-right:10px;
	width:auto;
	
}
	
	
    section.sign-up .inner-content button {
      display: inline-block;
      text-align: center;
      color: #ffffff;
      background-color: #7b6fe5;
      font-size: 14px;
      font-weight: 400;
      padding: 14px 35px;
      border-radius: 25px;
      letter-spacing: 0.15px;
      z-index: 1;
      outline: none;
      border: none;
      cursor: pointer;
      position: relative; }
	  
      section.sign-up .inner-content button:after {
        position: absolute;
        left: 0;
        top: 0;
        background-color: #fd658f;
        width: 100%;
        height: 100%;
        border-radius: 25px;
        content: '';
        display: inline-block;
        -webkit-transition: all .3s;
        transition: all .3s;
        z-index: -1;
        -webkit-transform: scaleX(0);
                transform: scaleX(0);
        -webkit-transition: all transform 300ms ease-out 200ms;
        transition: all transform 300ms ease-out 200ms; }
      section.sign-up .inner-content button:hover::after {
        width: 100%;
        -webkit-transform: scaleX(1);
                transform: scaleX(1);
        -webkit-transform-origin: 50% 50%;
                transform-origin: 50% 50%;
        -webkit-transition: -webkit-transform 300ms ease-out;
        transition: -webkit-transform 300ms ease-out;
        transition: transform 300ms ease-out;
        transition: transform 300ms ease-out, -webkit-transform 300ms ease-out; }