<table  align="center">
	<tr>
		<td class="mailTopLink" valign="top" align="center">
			<div class="preheader-link" style="padding:5px; font-family:helvetica; font-size:11px; line-height:125%;text-decoration: underline;">Browser View</div>				
		</td>
	</tr>
	<tr>
		<td>
      <table  cellspacing="0" cellpadding="0" id="email_template_table" width="597" style="border-width:3px;border-style:solid;border-collapse:separate;border-color:#B3C1D7;border: solid #B3C1D7 2.25pt; overflow:hidden;">
				<tr>
					<td id="header" align="center" >
						<div class="header_div">
						<span class="empty_header">
						</span>
						</div>
					</td>
				</tr>
				<tr>
					<td class="empty_block" id="body_main" valign="top"></td>
				</tr>
				<tr>
					<td id="footer" valign="middle" style="font-size:11px;line-height:125%;font-family:calibri;">
					{FOOTER}
					</td>
				</tr>
			</table>
		</td>
	</tr>
</table>
